<h1>Account Lists</h1>
    {% if account_list %}
        <table>
        <tr>
            <th> Name </th>
            <th> Create </th>
        </tr>
        {% for account in account_list %}
        <tr>
            <td> 
            <a href = {% url 'accounts:detail' account.id %}>{{account.name}}</a> 
            </td>
            <td> {{account.create|date:"d/m/Y"}} </td>
        </tr>
        {% endfor %}
        </table>
    <br>
    {% endif %}
    <form action={% url 'accounts:add_account' %} method="post">  
    {% csrf_token %}
        Account Name: <input type="text" name="account_name" >
        <input type = "submit" class="submit0" value = "Create">
    </form>